modules = ["nodejs-20", "c-clang14", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Build & Run Electromechanical"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Build & Run Electromechanical"
author = 47121647
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make clean"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make all"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"=== SYSTÈME ÉLECTROMÉCANIQUE LUMS/VORAX ===\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Tapez 'help' pour voir les commandes disponibles\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Exemple: load 0 11010\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"         fuse 0 1 2\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"         show 2\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./build/electromechanical_console"

[[workflows.workflow]]
name = "Build & Run Electromechanical"
author = 47121647
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make clean"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make all"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"=== SYSTÈME ÉLECTROMÉCANIQUE LUMS/VORAX ===\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Tapez 'help' pour voir les commandes disponibles\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Exemple: load 0 11010\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"         fuse 0 1 2\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"         show 2\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./build/electromechanical_console"
